# Topic 1 Assignemnt
Provide the answers in the cell(s) below each question. If a question requires you to answer in code, you can provide the code. If the quesiton requires you to answer in the form of a sentence, you can convert the cell to Markdown and type out the answer there.

***Assignments should be uploaded in two formats to D2L. The first format is the .ipynb file that contains your code. The second format is an html file that you can obtain by File > Download As > HTML (.html).***

-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------

## Question 1

Is Python a case sensitive language and what does that mean?

### Answer to Question 1

## Question 2

What is the output to this bit of code?

```python
apple = 6 # The dividend Apple plans on paying  
twitter = 5 # The dividend Twitter plans on paying
  
if apple < twitter:  
    print("Twitter is paying a larger dividend that Apple")  

elif apple > twitter:  
    print("Apple is paying a larger dividend than Twitter")
```

### Answer to Question 2

## Question 3

What is the output to this bit of code?

```python
shares = 125000

def func():
	shares = 250000
	print ('Number of shares is', shares)

func()
```

### Answer to Question 3

## Question 4

Modify the 2nd element of the list company to Amazon.

```python
company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']

# Type your code below
company[__] = _____

print (company)
```

### Answer to Question 4

In [1]:
# Use the template below to fill in the missing values.

company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']

# Type your code below
company[__] = _____

print (company)

NameError: name '_____' is not defined

## Question 5

You must write two lines of code:
    1. Print the first four elements from the company list.
    2. Print the 3rd element from the company list using a negative index.
```python    
company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']
```

### Answer to Question 5

In [ ]:
company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']

## Question 6

Sort the company list in descending order and print out the list
```python
company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']
```

### Answer to Question 6

In [ ]:
company = ['WalMart', 'Citi', 'Apple', 'Target', 'Twitter', 'Tesla']

## Question 7

Insert a key-value pair (key='Tesla', value='Elon Musk'). 
Delete the key-value pair with 'Apple' as the key.
Print the final result.
```python
company_people = {'Disney':'Walt Disney', 'Berkshire Hathaway':'Warren Buffett', 'Apple':'Bill Gates'}
```

### Answer to Question 7

In [ ]:
company_people = {'Disney':'Walt Disney', 'Berkshire Hathaway':'Warren Buffett', 'Apple':'Bill Gates'}

## Question 8

Update the value in the dataframe column MSFT to [6, 8, 4, 7] and print the final result.
```python
dividend = {
                'AAPL':pd.Series([9, 9, 11], index = ['D1', 'D2', 'D3']),
                'MSFT':pd.Series([6, 7, 6, 7], index = ['D1', 'D2', 'D3', 'D4'])
           }
dividend_df = pd.DataFrame(dividend)  
```

### Answer to Question 8

In [ ]:
import pandas as pd

dividend = {
                'AAPL':pd.Series([9, 9, 11], index = ['D1', 'D2', 'D3']),
                'MSFT':pd.Series([6, 7, 6, 7], index = ['D1', 'D2', 'D3', 'D4'])
           }
dividend_df = pd.DataFrame(dividend)

## Question 9

How could you obtain the first 7 rows from a dataframe called df?

### Answer to Question 9

## Question 10

How would you use yfinance to download Apple stock data between January 7, 1987 and September 1, 2015 from Yahoo Finance? Run the code and display the output.

### Answer to Question 10

## Question 11
Fill NA values with a value of 7.85 and store it in the new dataframe updated_dividend. Print the result.
```python
dividend = {
                'AAPL':pd.Series([9, 9, 11], index = ['D1', 'D2', 'D3']),
                'MSFT':pd.Series([6, 7, 6, 7], index = ['D1', 'D2', 'D3', 'D4'])
           }
dividend_df = pd.DataFrame(dividend)
```

### Answer to Question 11

In [ ]:
dividend = {
                'AAPL':pd.Series([9, 9, 11], index = ['D1', 'D2', 'D3']),
                'MSFT':pd.Series([6, 7, 6, 7], index = ['D1', 'D2', 'D3', 'D4'])
           }
dividend_df = pd.DataFrame(dividend)

## Question 12

Use yfinance to download Apple stock data between January 7, 1987 and September 1, 2015 from Yahoo Finance. Using this data, construct a line graph for the adjusted price. Be sure to include the following in your graph:

1. Gridlines
2. Xlabel as 'Date'
3. Ylabel as 'Price of Apple Stock'
4. Title as 'Change in Apple Stock Price'

### Answer to Question 12

## Question 13

If a candlestick is displyed as red, what does it mean with regards to the open and close price?

### Answer to Question 13

## Question 14
If the average daily reutrn for your investments is 0.09% and you have a standard deviation of 0.03% with a risk-free rate of return equal to 0.02%, what is your sharpe ratio?

### Answer to Question 14

## Question 15
If you have to select one portfolio to invest in based on the Sharpe Ratio, which of the following would you select? Assume a risk free rate of 0%.
1. 10% return with a standard deviation of 6%.
2. 11% return with a standard deviation of 7%.

### Answer to Question 15